*{
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  list-style-type: none;
}
.top_header{
  display: none;
}
.mob_header{
  display: block;
}
.mob_header{
  width: 95%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.mob_header h1{
  margin: 30px 0px;
}
.mob_header p{
  margin-top: 52px;
}
.logo_span{
  display: block;
  color: black;
}
.pc_head{
  width: 95%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.mob_logo{
  padding: 20px 0px;
}
.hamburger{
  margin-top: 40px;
}
.nav_pc_ul{
  display: none;
}
.main{
 background-image: url(../images/three.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 justify-content: flex-end;
}
.main{
  display: flex;
  justify-content: flex-end;
}
.main_div{
  width: 50%;
  margin-top: 90px;

  color: white;
  font-family: sans-serif;
}
.campus{
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight:bold;
}
.main_para{
  font-style: sans-serif;
  font-weight: lighter;
  font-size: 14px;
}
.read_more{
  margin-top: 40px;
  padding-bottom: 100px;
}
.anchor{
  background-color: #3d4470;
  padding: 10px 25px;
  color: white;
  margin-top: 3px;
  font-size: 12px;

}
.program{

}
.progrmmes{
  background-image: url(../images/pg1.jpg);
}
.under_graduate{
  background-image: url(../images/pg2.jpg);
}
.graduate{
  background-image: url(../images/pg3.jpg);

}
.progrmmes, .under_graduate, .graduate{
  width: 100%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  padding: 80px 0px;
  color: white;
}

.latest_news{
    background-color: #FAFAFA;
}
.latest_news_width{
  width: 95%;
  margin: 0px auto;
  padding-bottom: 30px;
}
.latest_news_heading{
  font-size: 23px;
  padding-top:40px;
  color: #333;
}
.dash{
  border-top: 3px solid #333;
  width: 50px;
  margin-top: 10px;
}
.latest_news_position{
  position: relative;
}
.latest_news_date{
  text-align: center;
  padding: 20px 6px;
  color: #ffaa30;
  border: 2px solid #ffaa30;
  display: inline-block;
  background-color: #FFF;
  position: absolute;
  right: 10px;
  top: 5px;
}
.latest_news_date span{
  display: block;
}


.latest_news_sec1{
  background-color: white;
  margin-top: 20px;

}
.latest_news_sec1 p img{
  width: 100%;
}
.sec1{
  padding: 20px;;
}
.latest_news_sec2{
  width: 95%;
  margin: 30px auto;
    background-color: white;
}
.latest_news_sec2 p img{
  width: 100%;
}
.latest_news_sec2{
  padding-top:  50px;
}


.event_width{
  width: 95%;
  margin: 0px auto;
}
.event_heading{
  margin-top: 80px;
  font-size: 20px;
}
.hrevents{
  border: 1px;
    margin-top: 5px;
}
.text p {
   margin-right: 20px;
  }
.span_news{
    color: blue;
    font-size: 12px;
  }
.news_headers{
  font-size: 22px;
  line-height: 150%;
  margin-bottom: 20px;
  font-weight: normal;
}
.news_para{
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 20px;
}
.hr1{
  border: 1px solid #333;
  width: 10%;
  margin-bottom: 10px;

}
.news_space{
margin-bottom: 2px;
font-size: 13px;
}
.tags{
  font-size: 13px;
}
.educate{
  width: 95%;
  margin: 0px auto;
  margin-bottom: 20px;
}
.research_para{
font-size: 14px;
line-height: 1.5;
}

.research_info1{
  padding: 20px 20px;
}
.research_info h4{
font-size: 20px;
text-align: center;
margin-top: 30px;
}
.research_info p{
font-size: 16px;
color: maroon;
text-align: center;
margin-top: 10px;
}
.research_info_last_p{
  margin-bottom: 30px;
}
.research_info2{
  padding: 20px 20px;
}


.research_info3{
  padding: 20px 20px;
}

.research1{
  width: 95%;
  margin: 0px auto;
  margin-top: 30px;
}
.research1 img{
   width: 100%;

}

.research1_table_img{
  width: 100%;
}
.research1_table_contents{
  padding: 20px;
  margin-bottom: 30px;
}
.research1_table_contents h3{
  font-size: 14px;
  color: #810e14;
}
.research1_table_contents p{
  font-size: 18px;
  line-height: 150%;
  color: #333;
  margin-top: 15px;
}
.hr2{
  width: 10%;
  border: 1px solid black;
  margin-top: 3px;
}
.container{
  background-color: white;
  margin-top: 20px;
}
.research_button{
  width: 95%;
  padding: 15px 0px;
  background-color: #6A4e77;
  margin: 0px auto;
  display: block inline;
  text-align: center;
}

.research_button a{
  color: white;
}

.hr3{
  border: 1px solid;
  width: 10%;
margin-left: 20px;
margin-bottom: 10px;
}

.events{
  width: 95%;
  margin: 0px auto;
  margin-bottom: 30px;
}
.date h3{
  text-align: center;
  font-size: 30px;
  margin: 30px 0px 15px;
  color: #810e14;
}
.date p{
  text-align: center;
  font-size: 20px;
  margin: 15px 0px 20px;
}
.events_image{
      width: 100%;
}
.events_image img{
  width: 100%;
}
.upcoming_event_contents h3{
  text-align: center;
  font-size: 16px;
  margin: 20px 15px;
}
.upcoming_event_contents p{
  text-align: center;
  line-height: 150%;
  font-size: 14px;
}
.events_button{
  margin-top: 20px;
  padding: 12px 0px;
  background-color: #6A4e77;
  text-align: center;
  }

  .events_button a{
    color: white;
  }
  .form_section{
    background-image: url(../images/form_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    padding-bottom: 40px;
  }

.form_inside  {
  width: 95%;
  margin: 0px auto;
}
.form_1{

}
.form_1_h3{
  font-size: 30px;
  color: white;
  padding: 30px 0px 20px;
}
.form_1_h5{
  font-size: 18px;
  color: white;
  margin-bottom: 40px;
}
.form_1_p{
  font-size: 14px;
  color: white;
  margin-bottom: 40px;
}
.form_1__know_more{
  display: none;
}
.form_section_main{
  background-color: #F6F6F6;
}

  .form{
    width: 90%;
    margin: 0px auto;
    padding: 20px 0px 10px;

  }
.form_heading{
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

  .form tr{
    height: 75px;
  }
  .input{
    width: 100%;
    background-color: #DFDDDE;
    border: 0px solid;
    padding: 15px 0px;
    padding-left: 5px;
  }
  .submit_td{
    text-align: center;
  }

  .research_button2{
    text-align: center;
    margin: 20px 0px 40px;
  }
  .research_button2 a{
    color: white;
    padding: 10px 30px;
    background-color: #6A4e77;

  }
  .footer{
    background-color: #111;
  }


  .footer_div{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  }
  .social{
    display: flex;
    margin-top: 30px;
  }
  .social li{
    margin-left: 10px;
  }
  .sns{
    height: 20px;
background-color: white;
border: 0.5px solid white;
  }
  .footer_new {
    color: #646464;
  }
  .copyrights{
    background-color: #111111;
    color: #646464;;
    padding: 20px 0px;
    text-align: center;
  }

  .latest_news_date{
    background-color: #fff;
    display: block-inline;
    width: 60px;
    padding: 1px 2px;
    margin-bottom: 27px;
    margin-top: 5px;
  }

  .footer_navigation_menu{
    display: none;
  }
  .event1_contents{
  font-family: Lato;
  font-size: 12px;
  }
  .nav_mob{
    display: none;
  }
  .text{
    font-family: Lato;
  }
  .text p{
    font-weight: light;
    font-size: 11px;
  }
  .hrevents{
    margin-top: 50px;
  }
  .text{
    color: black;
  }
.hrevents{
    border: 1px;
      margin-top: 5px;
  }
  .text p {

      margin-right: 20px;
  }

  .footer_div{
    background-color: #111111;
    color: white;
  }
  .foot2{
    padding: 5px;
    width: 200px;
  }
  .foot1{
    font-family: Lato-black;
    font-size: 13px;
    padding: 5px;
  }
.footer_about{
font-size: 14px;
}
.footer_new{
font-size: 10px;

//margin-left: 100px;
}
.form_section_main {
  margin-top: 30px;
}
.latest_news_heading2{
  margin-top: 20px;
}
.logo{
  display: none;
}
.research1_table img{
  width: 100%;
}
.research1_table{
  box-shadow: 1px 1px 10px #C0C0C0;
  border: 1px solid #C0C0C0;
  margin-bottom: 20px;
}


 /* Coding for pc starts here */




 @media only screen and (min-width:933px){
.top_header{
  display: block;
  background-color: #6a4e77;
}
.top_header_width{
width: 90%;
margin: 0px auto;
padding: 20px 0px;
display: flex;
justify-content: space-between;
color: white;
font-size: 12px;
}
.contact{
  display: flex;
  justify-content: space-between;
}
.email{
  display: flex;
  margin-right: 20px;
}
.phone{
  display: flex;
  margin-left: 20px;
}
.address_image{
  margin-top: 1px;
}


.pc_head{
  display: none;
}
   .program{
       display: flex;
       width: 933px;
       margin: 0px auto;
       position: relative;
    bottom: 40px;
    width: 80%;
     }
   .progrmmes, .under_graduate, .graduate{
     padding: 100px;
     color: #FFF;
   }
   .mob_header{
     display: none;
   }

   .nav_pc{
     display: block;
     width: 932px;
     margin: 0px auto;
   }
   .nav_pc_ul{

     display: flex;
     justify-content: flex-end;
     margin: 20px 0px;
   }

   .top_header-right{
     display: inline;
   }
   .top_header2{
     width: 100%;
     margin: 0px auto;
     display: flex;
     justify-content: space-between;
   }
   .address{
     display: flex;
   }
   .top_contacts{
       display: flex;
         justify-content: space-between;
       }

   .top_contacts_left{
     margin-left: 15px;
   }
   .nav_pc{
     display: block;
     width: 932px;
     margin: 0px auto;
   }
   .nav_pc_ul{

     display: flex;
     justify-content: flex-end;
     margin: 20px 0px;
   }
     .nav_pc_ul li{
       margin-left: 15px;
     }
     .main {
         display: flex;
         justify-content: flex-end;
         height: 473px;
      }
      .main_div{
        margin-top: 150px;
      }
      .latest_news{
        padding-bottom: 40px;
      }
      .latest_news_width{
        margin: 0px auto;
        display: flex;
      }
      .latest_news_date{
        display: none;
      }
      .sec1_width{
        width: 933px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
      }
      .latest_news_sec1 {
        width: 300px;
      }
      .sec1_main_img{
        width: 300px;
      }
      .research1{
        width: 933px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
      }
      .educate{
        width: 933px;
        margin: 0px auto;
      }
.research_info1{
  display: inline-block;

}
.research_info2{
  display: inline-block;
    margin-left: 80px;
}
.research_info3{
  display: inline-block;
    margin-left: 80px;
}
.research1_table {
  width: 220px;
}
.events{
  width: 933px;
  margin: 0px auto;
  display: flex;

}
.events_image{
  display: flex;
  margin-left: 140px;


}
.upcoming_event_contents{
  margin-left: 150px;
}
.events_image img {
    width: 200%;
}
.event_width{
  width: 933px;
  margin: 0px auto;
      margin-bottom: 50px;
}
.footer_div {
padding-top: 50px;


}
.foot2{
  font-size: 29px;
}
.latest_news_heading{
  width: 933px;
  margin: 0px auto;
}
.research_para {
  padding: 20px 0px;
}
.research_subheading{
  width: 933px;
  margin: 0px auto;
  padding-top: 20px;
    padding-bottom:  20px;
}
.research_button {
width: 30%;
margin-top: 60px;
margin-bottom: 30px;
}
.address_image{
  margin-right: 3px;
}
.top_header2{
  width: 95%;
}
.foot1{
  padding-bottom: 30px;
  font-size: 20px;

}
.footer_subheading{
  font-size: 10px;
}
.footer_top{
  font-size: 20px;

}
.foot2{
  padding: 0px 20px;
  width: 30%;

}
.footer_div{
  width: 933px;
  margin: 0px auto;
}
.footer_new{
  font-size: 14px;
  color: #333;
}
.footer_about{
  font-size: 17px;
  margin-bottom: 3px;
}
.logo{
  display: block;

width: 45%;

}
.logo img{
width: 160px;
}
.dash{
  display: none;
}
.latest_news_heading{
  text-decoration: underline;
}
.form{
  width: 90%;}

.footer_new{
  color: #888484;
}
.form_section_main{

}
.form_inside{

  width: 933px;
  margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.form_1{
  display: block;
  background-image: url(../images/design.png);
  margin: 80px 10px ;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 20px;

}
.campus{
  font-size: 38px;
}
.news_headers{
  font-size: 16px;
}
.form_1 h3{
  font-size: 35px;

}
.form_1 h5{
margin-top: 20px;
    font-size: 18px;

}
.form_1 p{
margin-top: 20px;
margin-bottom: 30px;

}
.form_1 a{
  padding: 10px 20px;
  background-color: #6A4E77;
  color: white;
}
.form_section_main {
  width: 60%;
  margin-left: 120px;
}
.form_1__know_more{
  margin-top: 40px;
  display: block;
}
.events{
  margin-bottom: 50px;
}
.form_1{
    background-color: #0000009e;
}
.form_1_p{
padding-bottom: 40px;
}
.form_1_h3{
      color: #050d2b;
}
.form_1_h5{
    color: #050d2b;
}
.form_1 p{
    color: #050d2b;
    font-weight: bolder;
}
.events_image img{
  width: 210px;
}
.upcoming_event_contents h3{
  margin: 0px 0px;
}
.upcoming_event_contents p{
  margin-top: 10px;
}
.form_1 a{
  font-size: 14px;
  font-weight: normal;
}
.nav_pc_ul {
  font-weight: bolder;
}
.nav_pc_ul li a{
  color:black;
}
}
